// main: template.less

a:focus,
a:hover,
.nav > li > a:focus,
.nav > li > a:hover {
  //background-color: inherit;
  //color: inherit;
  text-decoration: none;
}

nav ul,
ul.nav {
  list-style: none;
}

.icons {
  position: absolute;
  right: 0;
  top: 0;
}

.alert-message {
  border: 1px solid #DDD;
}
