// main: template.less

// #########################
// # Mobile-first directives
// #########################

#sidebar {
  .module-item {
    text-align: center;
    margin-bottom: 20px;
    > h3 {
      padding: 12px 20px;
      margin: 0;
      color: @cTextContrast;
      background-color: @cBase;
      border-left: 5px solid @cSecondary;
      text-align: left;
      font-size: 1.6rem;
      font-weight: bold;
      text-transform: uppercase;
    }
    .content {
      padding: 15px;
      background-color: #FFFFFF;
    }
  }
  
  // Banner
  .partner {
    .banneritem {
      width: 210px;
      margin: 0 auto;
    }
    .banneritem:not(:first-child),
    &.module-stack-body .banneritem:first-child {
      margin-top: 40px;
      padding-top: 40px;
      border-top: 1px solid #E4E8EE;
    }
  }
  
  // Modul-Stack
  // Modules can be stacked to build the partner module group.
  // HTML:
  // .module-item.module-stack-head (1)
  // .module-item.module-stack-body (*)
  // .module-item.module-stack-tail (1)
  .module-item.module-stack-head,
  .module-item.module-stack-body {
    margin-bottom: 0;
  }
  .module-item.module-stack-body > .content {
    padding-top: 1px; // 0 leads to ghost spacing
  }
  
  // Buttons
  a.button {
    display: inline-block;
    padding: 12px 12px 10px;
    color: @cTextContrast;
    background-color: @cSecondary;
    font-size: 12px;
    text-transform: uppercase;
    vertical-align: top;
    .rounded(3px);
    &:hover,
    &:focus {
      color: @cTextContrast;
      background-color: @cSecondary;
    }
    .fa {
      margin-right: 10px;
      font-size: 18px;
      vertical-align: top;
    }
  }
  // Partner-Button
  a.btn-partner {
    .ease();
    font-size: 15px;
    &:hover {
      background-color: darken(@cSecondary, 10%);
      text-decoration: none;
    }
  }
}

/* Extra-small devices (smartphones, 767px and less) */
@media (max-width: @screen-xs-max) {
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
}
