// main: ../template.less

// #########################
// # Mobile-first directives
// #########################

.article {
  position: relative;
  background-color: #FFFFFF;
  .content {
    padding: 20px;
    color: #000000;
    line-height: 23.1px;
    h2:first-child {
      margin-top: 0;
    }
  }
}

.handball-team {
  .team-buttons {
    margin: 5px 0 25px;
    text-align: center;
    a {
      display: inline-block;
      padding: 4px 8px;
      margin: 0 5px 5px 0;
      color: @cTextContrast;
      background-color: @cSecondary;
      font-size: 10px;
      word-break: keep-all;
      .rounded(3px);
      &:hover {
        color: @cTextContrast;
        background-color: @cSecondary;
        text-decoration: underline;
      }
      &:focus {
        color: @cTextContrast;
        background-color: @cSecondary;
      }
    }
  }  
  figcaption {
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
  }
  // TODO better to do it in component stylesheet?
  .nuliga {
    font-size: 12px;
    overflow-x: auto;
    overflow-y: hidden;
    table td,
    table th {
      padding: 8px 16px;
    }
  }
}

.default-article {
  .header {
    .icons {
      top: 0;
      right: 0;
      button {
        padding: 10px 15px;
        .rounded(0);
      }
    }
    .page-header h2 {
      .view-heading;
    }
    h3.subtitle {
      padding: 6px 20px 12px 25px;
      margin: 0;
      color: @cTextContrast;
      background-color: @cBase;
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

.news-article {
  // full-width colored header with article image and details
  .header {
    position: relative;
    padding: 20px;
    color: @cTextContrast;
    background-color: @cBase;
    .page-header h2 {
      margin: 20px 0 0;
      color: @cTextContrast;
    }
    .article-info {
      margin: 20px 0 0;
      font-size: 12px;
      text-align: right;
      text-transform: uppercase;
      dd {
        // TODO override, don't use dds
        display: inline-block;
        padding-right: 8px;
        margin-right: 5px;
        border-right: 1px solid @cTextContrast;
        line-height: 1;
        &:last-child {
          padding-right: 0;
          margin-right: 0;
          border-right: none;
        }
      }
      a {
        color: @cSecondary;
        &:hover,
        &:focus {
          color: @cSecondary;
          text-decoration: underline;
        }
      }
    }
    img {
      width: 100%;
      border-bottom: 5px solid @cSecondary;
    }
  }
  // subtitle comparatively small
  .content {
    h2:first-child {
      font-size: 20px
    }
  }
}

/* Extra-small devices (smartphones, 767px and less) */
@media (max-width: @screen-xs-max) {
  // center figures
  figure {
    text-align: center;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  // teambuttons can easily fit horizontally
  .handball-team .team-buttons {
    a {
      padding: 6px 12px;
      margin: 0 10px 10px 0;
      font-size: 16px;
    }
  }
  // NuLiga tables can take slightly more padding
  .handball-team .nuliga table {
    td,
    th {
      padding: 6px 12px;
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
  // NuLiga tables can take large paddings
  .handball-team .nuliga table {
    td,
    th {
      padding: 8px 16px;
    }
  }
}

