// main: ../template.less

// #########################
// # Mobile-first directives
// #########################

// TODO move to template.less?
.item-list {
  > * {
    padding: 10px;
    &:nth-child(2n+1) {
      background-color: @cBackgroundListItemOdd;
    }
    &:nth-child(2n) {
      background-color: @cBackgroundListItemEven;
    }
  }
}

.partner {
  h2:not(:first-child) {
    margin-top: 40px;
  }
  
  &.item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      font-size: 16px;
      font-weight: bold;
      img {
        margin-right: 20px;
      }
    }
  }
}

/* Extra-small devices (smartphones, 767px and less) */
@media (max-width: @screen-xs-max) {
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
}
